.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/photo-1612979213603-11e05d07adf2.webp");
}

.u-section-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 700px;
  margin: 72px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 11px 72px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}