.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/photo-1612979213603-11e05d07adf2.webp");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1-1 .u-text-1 {
  margin: 82px 318px 0 282px;
}

.u-section-1-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 9px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 18px 170px 60px 134px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 182px;
    margin-right: 218px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 34px;
    margin-right: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 72px;
    margin-right: 108px;
  }

  .u-section-1-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1-1 .u-line-1 {
    width: 340px;
  }
}.u-block-c011-4 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 8px;
}

.u-block-c011-3 {
  position: absolute;
  left: 0;
}

.u-block-c011-5 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 377px;
  right: calc(((100% - 1140px) / 2)  + 49px);
}

@media (max-width: 1199px) {
  .u-block-c011-5 {
    right: calc(((100% - 940px) / 2)  + 40px);
  }
}

@media (max-width: 991px) {
  .u-block-c011-5 {
    right: calc(((100% - 720px) / 2)  + 31px);
  }
}

@media (max-width: 767px) {
  .u-block-c011-5 {
    right: calc(((100% - 540px) / 2)  + 23px);
  }
}

@media (max-width: 575px) {
  .u-block-c011-5 {
    right: calc(((100% - 340px) / 2)  + 14px);
  }
}