.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 103px;
}

.u-section-1 .u-text-1 {
  width: 700px;
  font-weight: 700;
  line-height: 52.8px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 0 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 10px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

.u-section-2 .u-btn-7 {
  padding: 0;
}

.u-section-2 .u-btn-8 {
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1467px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1942px;
  }
}